<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.929654105316-dbvsr206d6ouv28s3iq527oj22aq1tli</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>929654105316-dbvsr206d6ouv28s3iq527oj22aq1tli.apps.googleusercontent.com</string>
	<key>NSCameraUsageDescription</key>
	<string>ShelfLife needs camera access to scan food barcodes and take photos of pantry items.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ShelfLife needs access to your photos to let you pick pantry item images.</string>
	<key>GIDServerClientID</key>
	<string>929654105316-2075et3tgrbkp76l837aqgj0ld012426.apps.googleusercontent.com</string>
</dict>
</plist>
